//importert font fra google fonts.
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

#root{
    width: 100%;
    background-color: var(--grey);
    color: (var(--black));
    --blue: #2a324b;
    --bluegrey: #58699D;
    --grey: #E1E5EE;
    --white: #fff;
    --black: #000;
    font-family: "Montserrat", serif;
}

//Laget sass/css for header og linkene i header området.
#container{
    
        header{
            display: flex;
            flex-direction: row;
            color: var(--black);
            text-transform: uppercase;

            nav{
                ul{
                    display: flex;
                    flex-direction:row;
                    list-style: none;
                    justify-content: space-between;
                    gap: 1.5rem;
                    margin: 0;
                    padding: 0;
                    padding-bottom: 0.8rem;
                    font-size: 19px;

                    a:hover{
                        background-color: var(--white);
                        color: var(--black);
                    }

                    a{
                        background-color: var(--blue);
                        padding: 1rem;
                        margin: 0;
                        border-radius: 0.1rem;
                        text-decoration: none;
                        color: var(--white);
                        text-align: center;
                    }
                    
                }
            }
        }
}


#heading{
        text-align: left;
        margin-top: 13px;
        padding: 3rem 0rem 3rem 4.5rem;
        text-transform: uppercase;
}

#overskrift{
    font-weight: lighter;
    text-align: left;
    padding: 0rem 0rem 0rem 10rem;
    margin: 0;
}

#artikkelkort{
    padding: 1.5rem;
}

//Brukt kode fra https://www.w3schools.com/css/css_border.asp på linje 80 for å finne en passende border.
main{
    background-color: var(--white);
    padding: 0rem 10rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    
    article{

        ul{
        
            li{
                list-style-type: none;
                border-style:outset;
                text-decoration: none;
                color:var(--black);
                border-radius: 0.2rem;
                width: 6rem;
                padding: 4px;
                margin: 0rem 0rem 0.5rem 8rem;
            }

            li:hover{
                background-color: var(--grey);
            }
        }
    }
}


#lesmer{
    text-decoration: none;
    color: (var(--black));
}

footer{
    color: var(--black);
    text-align: right;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}