//importert font fra google fonts.
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

#root{
    width: 100%;
    background-color: var(--grey);
    color: (var(--black));
    --blue: #2a324b;
    --bluegrey: #58699D;
    --grey: #E1E5EE;
    --white: #fff;
    --black: #000;
    font-family: "Montserrat", serif;
}

//Laget sass/css for header og linkene i header området.
#container{
    
        header{
            display: flex;
            flex-direction: row;
            color: var(--black);

            nav{
                ul{
                    display: flex;
                    flex-direction:row;
                    list-style: none;
                    justify-content: space-between;
                    gap: 2rem;
                    margin: 0;
                    padding: 0;
                    font-size: 14px;

                    a:hover{
                        background-color: var(--white);
                        color: var(--black);
                    }

                    a{
                        background-color: var(--blue);
                        padding: 1rem;
                        margin: 0;
                        text-decoration: none;
                        color: var(--white);
                        text-align: center;
                    }
                    
                }
            }
        }
}


#heading{
        text-align: left;
        margin-top: 14px;
        padding: 2rem 0rem 0rem 1rem;
}

#overskrift{
    text-align: left;
    padding: 0rem 0rem 0rem 10rem;
    margin: 0;
}

main{
    background-color: var(--white);
    padding-bottom: 1rem;
    
    article{

        ul{
            padding: 0rem 0rem 0.5rem 11rem;
        
            li{
                list-style-type: none;
                background-color: (var(--blue));
                text-decoration: none;
                color:var(--black);
                border-radius: 0.2rem;
                width: 6rem;
                padding: 4px;
            }
        }
    }
}

#lesmer{
    text-decoration: none;
    color: (var(--white));
}

footer{
    color: var(--black);
    text-align: right;
}